<link rel="stylesheet" href="/SE-summ1-project/css/style.css">

@font-face {
    font-family: MyliusModern;
    src: url(./font/MyliusModern-Light.ttf);
}

body {
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #cdebf9;
    background-image: url('plane_icon.png');
    background-repeat: space;
    background-size: 150px 150px;
}

.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}


.header {
    display: flex;
    width: 98%;
    margin-top: 20px;
    justify-content: center;
    background-color: white;
    max-width: 900px;
    border: 2px solid #000000;
    border-radius: 15px;
}

.header-image {
    display: flex;
    justify-content: center;
    width: 110px;
    height: 80px;
    margin-right: 15px;
    align-items: center;
}


.header-title {
    text-align: center;
    justify-content: center;
    font-family: MyliusModern;
    font-size: 36px;
}


.container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: white;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 15px;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}


#quizInfo {
    font-family: MyliusModern;
    font-weight: 900;
}


.question {
    margin-bottom: 20px;
    text-align: left;
    font-family: MyliusModern;
    font-weight: 100;
    line-height: 1.8;
}


#results {
    font-family: MyliusModern;
    line-height: 1.8;
}


/* Used to hide sections of the form i.e after submission, hide the questions */
.hidden {
    display: none;
}

